<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liu.authserver.mapper.ClientMapper" >
    <resultMap id="BaseResultMap" type="com.liu.authserver.domain.Client" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="client_name" property="clientName" jdbcType="VARCHAR" />
        <result column="client_id" property="clientId" jdbcType="VARCHAR" />
        <result column="client_secret" property="clientSecret" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="redirect_url" property="redirectUrl" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, client_name, client_id, client_secret, description,redirect_url
    </sql>

    <select id="getAll" resultMap="BaseResultMap"  >
        SELECT
        <include refid="Base_Column_List" />
        FROM client
    </select>

    <select id="getOne" parameterType="java.lang.String" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM client
        WHERE id = #{id}
    </select>

    <select id="getOneByClientId" parameterType="java.lang.String" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM client
        WHERE client_id = #{clientId}
    </select>

    <select id="getOneByClientSecret" parameterType="java.lang.String" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM client
        WHERE client_secret = #{clientSecret}
    </select>

    <insert id="insert" parameterType="com.liu.authserver.domain.Client" >
        INSERT INTO
        client
        (client_name,client_id,client_secret,description,redirect_url)
        VALUES
        (#{clientName}, #{clientId}, #{clientSecret}, #{description}, #{redirectUrl})
    </insert>

    <update id="update" parameterType="com.liu.authserver.domain.Client" >
        UPDATE
        client
        SET
        <if test="clientName != null">client_name = #{clientName},</if>
        <if test="description != null">description = #{description},</if>
        <if test="redirectUrl != null">redirect_url = #{redirectUrl},</if>
        WHERE
        id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.String" >
        DELETE FROM
        client
        WHERE
        id =#{id}
    </delete>
</mapper>